* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100%;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    overflow-x: hidden;
    width: 100% !important;
    background: #f7f8f9;
}

.auth {
    height: 100vh;
}

.backGroundColorBlack{
    background: black;
}

.page {
    display: flex;
    flex-direction: column;
    transition: transform cubic-bezier(1, 0.04, 0.07, 1.02) .6s;
}

.container {
    width: 100%;
    max-width: 1330px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-top: 0;
}

.backGroundColorGrey{
    background: gray;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #fff;

    .text {
        position: relative;
        font-size: 20px;

        @media screen and (max-width: 850px) {
            font-size: 16px;
        }

        &.header {
            font-size: 16px;

            @media screen and (max-width: 850px) {
                font-size: 14px;
            }
        }

        @media screen and (max-width: 550px) {
            font-size: 12px;
        }

        &.active:after {
            background-color: #363e45;
            bottom: -5px;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            transition: background-color .15s ease-out;
        }
    }

    .btnNavbarWrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.tooltipClass {
    background: white;
}

.tooltipWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 5px;
}

.clearButton {
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.hoverButton {
    transition: opacity 0.25s ease;

    &:hover {
        opacity: .66;
    }
}

.customErrorBox {
    padding: 5px 10px;
    background: red;
    border-radius: 8px;
    color: white;
}

.dangerColor {
    color: red;
}

.title {
    margin-top: 25px;
    font-size: 32px;
    width: 100%;
    overflow-wrap: break-word;
}

.title-admin {
    font-size: 32px;
    width: max-content;
    overflow-wrap: break-word;

    @media screen and (max-width: 470px) {
        width: 100%;
    }
}

.layout {
    background: #f7f8f9 !important;
}

.drawer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;

    :global(.ant-drawer-header) {
        width: 100% !important;
        border-bottom: 0;
    }

    :global(.ant-drawer-body) {
        padding-top: 0;
        width: 100% !important;
    }

    :global(.ant-drawer-header-title) {
        justify-content: flex-end;
    }
}

.drawerWrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .btns {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
    }
}

.testBackground {
    background: #fff;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.04);
    border-radius: 12px;
    padding: 15px;
}

.boxShadow1 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btnSaveWrapper {
    display: flex;
    justify-content: flex-start;
}

.statusClose {
    color: red;
}

.statusOpen {
    color: rgb(0, 11, 174);
}

/* styling button */
#toggle-edit-btn {
    background-color: #4267b2;
    border: 1px solid #4267b2;
    border-radius: 0.3rem;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 2rem auto;
}

#toggle-edit-btn:focus,
#toggle-edit-btn:hover {
    cursor: pointer;
}

/* styling app content container */
.app-content {
    margin: 1rem auto;
    width: 80%;
    padding: 5%;
    background-color: #f4f5f9;
}

/* styling alert text when edit mode is enabled */
.edit-mode-alert {
    text-decoration: underline;
    color: #c80000;
}

/* styling text parsed */
.text-container > *,
.editor-container > * {
    text-align: left;
}

.pillar-list {
    display: grid;
    grid-template-columns: 310px 1fr;
    min-height: 300px;
    padding-bottom: 30px;
}

.base-table-box {
    background-color: #fff;;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    overflow-y: hidden;
    overflow-x: auto;
}

.pillar-col {
    border-right: 1px solid #f5f5f5;
}

.pillar-head {
    background-color: #dddee3;
    padding: 12px;
    font-weight: bold;
    height: 45px;
}

.pillar-row {
    &:nth-child(even) {
        background-color: #f5f5f5;
    }

    &:hover {
        background-color: #ececec;
        cursor: pointer;
    }
}

.status-block {
    display: flex;
    justify-content: center;
    align-items: center;
}