.adminFunctionBlock {
  position: absolute;
  background: white;
  min-width: 300px;
  left: -140px;
  top: -180px;
  display: flex;
  flex-direction: column;
  //box-shadow: 10px 0 10px 5px rgba(221, 221, 221, 1);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  @media screen and (max-width: 600px) {
    left: -110px;
    min-width: 250px;
  }

  &.plus {
    left: -150px;
    top: -135px;

    @media screen and (max-width: 600px) {
      top: -150px;
      left: -120px;
    }
  }

  .btn {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.25s ease,
    background-color 0.25s ease;

    &:hover {
      background-color: #1677ff;
      color: white;
    }

    &.btnGray {
      color: black;

      &:hover {
        background-color: rgba(128, 128, 128, 0.22);
      }
    }

    &.btnSuccess {
      color: green;
      &:hover {
        background-color: green;
        color: white;
      }
    }

    &.btnDanger {
      color: red;
      &:hover {
        background-color: red;
        color: white;
      }
    }

    &:first-child {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &:last-child {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    @media screen and (max-width: 600px) {
      max-width: 250px;
    }
  }

  .underline {
    opacity: 0.33;
    border-bottom: 1px solid gray;
  }
}

.btnLucky {
  @extend .btn;
  border: 1px solid black !important;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: green;
    color: white;
  }
  margin-bottom: 10px;
}