.test__info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.downloadBtnWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.admin__test__info {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .title {
    font-size: 32px;
  }

  .keyBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
      font-size: 24px;
    }

    .item {
      display: flex;
      gap: 30px;
      width: 300px;
      padding: 25px;
      border-radius: 15px;
      background: white;
    }
  }

  .testKeyInput {
    height: 35px;
    width: 300px;

    @media screen and (max-width: 400px) {
      width: 200px;
    }
  }

  .testKey {
    width: 100px;
    font-size: 16px;
  }
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

.admin__test__info__changeKey {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 22px;
  gap: 30px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
