.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.noQuestion {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  margin-top: 24px;
}