.column {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  h2 {
    margin: 0;
  }
}

.list {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.listQuestions {
  border-radius: 8px;
  min-height: 240px;
  padding: 10px;
}

.columnItem {
  border-radius: 4px;
  padding: 4px 8px;
  transition: background-color 0.5s ease;
  margin-top: 8px;

  &.bc {
    background-color: #fff;
  }

  &:hover {
    &.bc {
      background-color: #eee;
    }
    transition: background-color 0.5s ease;
  }
}