.title__block {
  display: flex;
  padding: 15px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  flex-direction: column;

  .title {
    font-size: 30px;
  }
}

.title__wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.test__title {
  width: 100%;
  font-size: 28px;
  overflow-wrap: break-word;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.formTestTitle {
  overflow-wrap: break-word;
}

.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  width: 16px;
  height: 20px;
}

.text__area__title {
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}
