.descriptionDeleteBg {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  padding: 15px 50px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.segmentedWrap {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
}