.tooltipItem {
  color: black;
  cursor: pointer;
  opacity: 1;
  background-color: white;
  transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  padding: 5px 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;


  &:hover {
    //color: white;
    opacity: 0.66;
    background-color: rgba(138, 91, 91, 0.1) !important;
  }
}