.admin__form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .title__wrapper {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 570px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.createForderBtn {
  width: 300px;
}

.btnActionWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .btn {
    max-width: 400px;
  }
}

.admin__form__btns {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .btn {
    max-width: 400px;
  }
}
