.infoBlockDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.infoBlockDescriptionBtnWrapper {
  display: flex;
  gap: 10px;
}

.questionWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
}