.all__tests__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.segmented {
  //border: 1px dashed rgb(255, 255, 255);
}

.select {
  margin-top: 25px;
  height: 40px;
  width: 400px;

  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.btnChange {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnDelete {
  @extend .btnChange;
}

.folderLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.loading {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 700px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.all__tests__list__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.04);
  padding: 15px;
  transition: all 0.3s ease; /* Добавляем плавность анимации для всех свойств */

  &.point {
    cursor: pointer;

    &:hover {
      transform: translateY(-5px); /* Поднятие блока на 5px */
      box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2); /* Более заметная тень для эффекта "подъёма" */
    }
  }

  &.active {
    transform: translateY(-5px); /* Поднятие блока на 5px */
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2); /* Более заметная тень для эффекта "подъёма" */
  }

  &.activeDefault {
    background-color: rgba(22, 119, 255, 0.15); /* Серый цвет фона */
  }

  &.activeDanger {
    background-color: rgba(255, 0, 0, 0.23); /* Серый цвет фона */
  }

  &.activeSuccess {
    background-color: rgba(0, 128, 0, 0.16); /* Серый цвет фона */
  }

  &.activeGray {
    background-color: rgba(128, 128, 128, 0.22); /* Серый цвет фона */
  }

  @media screen and (max-width: 1000px) {
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
  }
}

.all__tests__list__empty {
  display: flex;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.all__tests__list__test__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  .title {
    max-width: 100%;
    overflow-wrap: break-word;
    font-size: 24px;
  }

  .info {
    overflow-wrap: break-word;
  }

  .deleteBtn {
    width: 100px;
  }

  .infoWrapper {
    width: max-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 700px) {
      width: 100%;
    }

    .addressTest {
      @media screen and (max-width: 700px) {
        width: 60%;
      }
    }

    .wrapperStatus {
      font-weight: 700;
      font-size: 18px;
    }

    .body {
      max-width: 80%;
      overflow-wrap: break-word;

      &__status {
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}

.btnsColum {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    gap: 15px;
    justify-content: flex-start;
    width: 100%;
  }
}

.btns {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;

    .btn {
      max-width: 400px;
    }
  }
}

.addressCopyButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
