.btns {
  display: flex;
  gap: 15px;

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.btnSaveWrapper {
  display: flex;
  justify-content: flex-end;
}

.test__block {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background: white;
    border-radius: 15px;

    .radioWrapper {
      display: flex;
      gap: 5px;
      width: 100px;
    }

    .title {
      font-size: 22px;
      font-weight: 500;
    }

    .description {
      margin-top: -10px;
      font-size: 18px;
    }
  }
}

.custom__test__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}
