.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.studentBlockSearch {
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 500px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.select {
  width: 400px;
  height: 40px;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.searchBlock {

  input {
    height: 40px;
  }
}

.statusWrapper {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultsWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resultsWrapperItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
  }

  .title {
    max-width: 60%;
    overflow-wrap: break-word;
    font-size: 20px;

    @media screen and (max-width: 570px) {
      max-width: 90%;
      font-size: 14px;
    }
  }

  .btns {
    display: flex;
    gap: 5px;

    @media screen and (max-width: 570px) {
      flex-direction: column;
      gap: 15px;
    }
  }
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 200px;
}
