.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
  font-size: 20px !important;
}

.item {
  font-size: 20px;
}

.loading {
  width: 100%;
  height: 300px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .label {
    font-weight: 700;
  }

  :global(.ant-form-item) {
    margin: 0;
    margin: 0;
  }
}

.questionWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
}

.inputWrapper {
  font-size: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;

  input {
    width: 60%;
  }
}

.listTest {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testWrapper {
  display: flex;
  align-items: center;
  gap: 15px;

  .title {
    max-width: 60%;
    overflow-wrap: break-word;
    font-size: 20px;
  }
}